@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
}